</main>
<!-- Footer -->
<footer>
    <p>Copyright &copy; <%= new Date().getFullYear() %> Personayze. kmab. All rights reserved. </p>
    <a href="#" class="design"><img class="lambda" src="/images/lfw.png" alt="cat"></a>
</footer>
<!-- Scripts -->
<script src="/scripts/main.js"></script>
</body>
</html>