@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary: hsl(240, 100%, 40%);
    --primary-bg: hsl(240, 90%, 90%);
    --primary-text: hsl(240, 10%, 10%);
    --primary-accent: hsl(240, 25%, 75%);
    --primary-light: hsla(240, 100%, 95%, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    transition: all 0.2s ease;
}

body {
    background-color: var(--primary-bg);
    color: var(--primary-text);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.dark {
    --primary: hsl(240, 100%, 40%);
    --primary-bg: hsl(240, 90%, 10%);
    --primary-text: hsl(240, 10%, 90%);
    --primary-accent: hsl(240, 25%, 25%);
    --primary-light: hsla(240, 100%, 5%, 0.9);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    background-color: var(--primary-light);
    border: 0.01rem solid var(--primary-accent);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    flex-grow: 2;
}

header .right .menu-items {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--primary);
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.github {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--primary-text);
}

.material-symbols-outlined {
    cursor: pointer;
    font-variation-settings: 'FILL' 0;
}

.active-icon {
    font-variation-settings: 'FILL' 1;
}

.menu-toggle, .close {
    display: none;
}

header .left {
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

main {
    margin-top: 5rem;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


@media (max-width: 576px) {
    header .left .title {
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: -100%;
        padding: 2rem 8rem 2rem 2rem;
        background-color: var(--primary-light);
        border-radius: 1rem;
        border: 0.01rem solid var(--primary-accent);
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
    }

    header .right .menu.menu-visible {
        right: 0;
    }

    header .right .menu-items {
        flex-direction: column;
        gap: 2rem;
    }

    .close {
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .menu-toggle {
        display: block;
    }
}